Node-RED_LED_Blink_And_Sensor_Visualization/NodeRED_Flow.json
[
    {
        "id": "9a85423f.15c9e",
        "type": "tab",
        "label": "Baka's Room",
        "disabled": false,
        "info": "**This Flow is made to automate one room.**\n\n#### Features\n\n* Contains switch for 2 lamps.\n* Fan can be automated depending on the temperature.\n* Visualization of Temperature and Humidity using Gauge and Chart."
    },
    {
        "id": "3c381842.bb85c8",
        "type": "mqtt out",
        "z": "9a85423f.15c9e",
        "name": "Room1/lamp",
        "topic": "baka/room1/lamp",
        "qos": "0",
        "retain": "",
        "broker": "33d91554.a2a7ca",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "79b73b72.876f84",
        "type": "ui_switch",
        "z": "9a85423f.15c9e",
        "name": "",
        "label": "Lamp 1 Switch",
        "group": "e697d47d.8ac4d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "baka/room1/lamp",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "3c381842.bb85c8"
            ]
        ]
    },
    {
        "id": "e5134e69.df147",
        "type": "mqtt in",
        "z": "9a85423f.15c9e",
        "name": "Temp Broker",
        "topic": "baka/room1/temp",
        "qos": "0",
        "broker": "33d91554.a2a7ca",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "d92ae670.796af8",
                "3b579d4f.a31342",
                "33332797.8b46e8"
            ]
        ]
    },
    {
        "id": "d92ae670.796af8",
        "type": "debug",
        "z": "9a85423f.15c9e",
        "name": "Temp Display",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "a0669550.6fb048",
        "type": "mqtt in",
        "z": "9a85423f.15c9e",
        "name": "Humid Broker",
        "topic": "baka/room1/humid",
        "qos": "0",
        "broker": "33d91554.a2a7ca",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "d6761c69.c14fb",
                "8f2bc5e5.15f818",
                "a7439066.b6a83"
            ]
        ]
    },
    {
        "id": "d6761c69.c14fb",
        "type": "debug",
        "z": "9a85423f.15c9e",
        "name": "Humid Display",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 420,
        "y": 560,
        "wires": []
    },
    {
        "id": "3b579d4f.a31342",
        "type": "ui_gauge",
        "z": "9a85423f.15c9e",
        "name": "",
        "group": "cbdf4455.dcd6c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "8f2bc5e5.15f818",
        "type": "ui_gauge",
        "z": "9a85423f.15c9e",
        "name": "",
        "group": "cbdf4455.dcd6c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "%RH",
        "format": "{{value}}",
        "min": "20",
        "max": "95",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 420,
        "y": 440,
        "wires": []
    },
    {
        "id": "33332797.8b46e8",
        "type": "ui_chart",
        "z": "9a85423f.15c9e",
        "name": "",
        "group": "4021f39f.9ed08c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 430,
        "y": 300,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a7439066.b6a83",
        "type": "ui_chart",
        "z": "9a85423f.15c9e",
        "name": "",
        "group": "4021f39f.9ed08c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "95",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 420,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b0efb534.3fe8f8",
        "type": "ui_switch",
        "z": "9a85423f.15c9e",
        "name": "",
        "label": "Automatic On Temperature",
        "group": "e697d47d.8ac4d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 640,
        "y": 80,
        "wires": [
            [
                "6e6fece2.c17464",
                "fd0ee537.da3c48"
            ]
        ]
    },
    {
        "id": "6e6fece2.c17464",
        "type": "debug",
        "z": "9a85423f.15c9e",
        "name": "Room 1 Auto Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd0ee537.da3c48",
        "type": "mqtt out",
        "z": "9a85423f.15c9e",
        "name": "Room1/auto",
        "topic": "baka/room1/auto",
        "qos": "0",
        "retain": "",
        "broker": "33d91554.a2a7ca",
        "x": 680,
        "y": 160,
        "wires": []
    },
    {
        "id": "1d264535.14387b",
        "type": "mqtt out",
        "z": "9a85423f.15c9e",
        "name": "Room1/lamp",
        "topic": "baka/room1/lamp",
        "qos": "0",
        "retain": "",
        "broker": "33d91554.a2a7ca",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "ba3825c.bcc25d8",
        "type": "ui_switch",
        "z": "9a85423f.15c9e",
        "name": "",
        "label": "Lamp 2 Switch",
        "group": "e697d47d.8ac4d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "baka/room1/lamp",
        "style": "",
        "onvalue": "3",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "4",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 380,
        "y": 80,
        "wires": [
            [
                "1d264535.14387b"
            ]
        ]
    },
    {
        "id": "d91fc391.d285b",
        "type": "ui_gauge",
        "z": "9a85423f.15c9e",
        "name": "",
        "group": "e697d47d.8ac4d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 750,
        "y": 380,
        "wires": []
    },
    {
        "id": "8db140b1.454aa",
        "type": "ui_slider",
        "z": "9a85423f.15c9e",
        "name": "",
        "label": "slider",
        "group": "e697d47d.8ac4d8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "180",
        "step": 1,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "d91fc391.d285b"
            ]
        ]
    },
    {
        "id": "33d91554.a2a7ca",
        "type": "mqtt-broker",
        "z": "",
        "name": "Eclipse",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "e697d47d.8ac4d8",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "7af02d3a.5fcc84",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "cbdf4455.dcd6c8",
        "type": "ui_group",
        "z": "",
        "name": "Gauge",
        "tab": "7af02d3a.5fcc84",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4021f39f.9ed08c",
        "type": "ui_group",
        "z": "",
        "name": "Chart",
        "tab": "7af02d3a.5fcc84",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "7af02d3a.5fcc84",
        "type": "ui_tab",
        "z": "",
        "name": "Baka",
        "icon": "dashboard",
        "order": 4
    }
]